$mainBlack: #333;
$heavyBlack: #000;
$lightBlack: #666;

$white: #fff;
$darkWhite: #f7f7f7;

$mainBlue: #1fa9f1;

$mainGray: #ccc;
$lightGray: #ddd;
$veryLightGray: #cecece;
$lightGrayXX: #eee;

$heavyBold: 800;
$veryBold: 600;
$bold: 400;
$light: 300;
$veryLight: 200;